HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/*
window.addEventListener("keyup", (e) => {
  const xhr = new XMLHttpRequest();
  var data = {
    email : document.getElementById("email").value
  };
  var regex = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z]+/;   
  
  if(data.email == ''){
    
    document.getElementById("notify").innerText = '';
    
  } else if(!regex.test(data.email)){
    
    document.getElementById("notify").innerText = '유효한 이메일이 아닙니다.';
    document.getElementById("notify").style.color = 'red';
    document.getElementById("emailButton").setAttribute("disabled", true);
    
  } else {
  
    document.getElementById("emailButton").removeAttribute("disabled");
    document.getElementById("notify").innerText = '유효한 이메일입니다.';
    document.getElementById("notify").style.color = 'blue';

  };
  
});
*/
